.container {
	width: 64rem;
	margin: 0 auto;
	border: 1px solid #aaa;
	padding: 0 3.2rem 3.2rem;
}

.pageTitle {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}

.hRule {
	background-color: #aaa;
	margin-top: -1.6rem;
	margin-bottom: 3.2rem;
	width: 50%;
}

.buttonGroup {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.createBtn {
	width: 60%;
	height: 3rem;
	background-color: var(--primary-blue);
	font-size: 2rem;
}

.createBtn:hover,
.createBtn:focus,
.createBtn:active {
	background-color: var(--secondary-blue);
}
